<ng-template [ngIf]="bigCard" [ngIfElse]="smallCard">
<div class="mx-auto d-block"
  style="height: {{ specialHeight }}px;width: 350px;zoom:{{ cardSize }}%">
  <div class="d-block" style="height: {{ specialHeight }}px;width: 350px;">
    <div class="d-block" style="height: 400px; width: 350px">
      <img src="{{ card.image }}" class="cardImage" />
      <img src="{{ frameImage[card.rarity] }}" class="cardFrame" />
      <p
        class="cardTitle"
        [ngStyle]="{ color: titleColor }"
        role="button"
        placement="top"
        popoverTitle="{{ className | translate }}"
        ngbPopover="{{ className + '_Desc' | translate }}"
      >
        {{ card.name }} [{{ className | translate }}]
      </p>
      <div
        class="cardAbrasion"
        placement="top"
        popoverTitle="{{ 'gameBase.cardAbrasionTitle' | translate }}"
        ngbPopover="{{ 'gameBase.cardAbrasionDesc' | translate }}"
      >
        <span class="badge rounded-pill" *ngIf="card.abrasion" role="button">{{
          card.abrasion
        }}</span>
      </div>
      <span
        class="cardCost"
        role="button"
        placement="top"
        popoverTitle="{{ 'gameBase.cardCostTitle' | translate }}"
        ngbPopover="{{ 'gameBase.cardCostDesc' | translate }}"
      >
        <fa-icon
          *ngFor="let i of [].constructor(card.cost)"
          [icon]="faGem"
        ></fa-icon>
      </span>

      <span class="badge cardAttack {{ attackColor }}" role="button">
        <img src="{{ iconAttack }}" style="height: 18px" /> {{ card.attack }}
      </span>
      <span class="badge cardDefense {{ defenseColor }}" role="button">
        <img src="{{ iconDefense }}" style="height: 18px" /> {{ card.defense }}
      </span>
      <span class="badge cardSpeed {{ speedColor }}" role="button">
        <img src="{{ iconSpeed }}" style="height: 18px" /> {{ card.speed }}
      </span>
      <div class="cardSpirit">
        <span role="button" class="badge {{ spiritColor }}" *ngIf="card.spirit"
          ><img src="{{ iconSpirit }}" style="height: 18px" />
          {{ card.spirit }}</span
        >
      </div>
      <div class="cardEnergy">
        <span *ngIf="card.energy" class="badge rounded-pill" role="button">
          <img src="{{ iconMagic }}" style="height: 20px" /> {{ card.energy }}
        </span>
      </div>
      <span class="badge rounded-pill cardHealth" role="button">
        <img src="{{ iconHealth }}" style="height: 20px" /> {{ card.health }}
      </span>
    </div>
    <div class="cardSkill">
      <span class="cardSkillCell">
        <span
          *ngFor="let skill of card.skills"
          role="button"
          class="cardSkillIcon"
          placement="top"
          ngbPopover="{{ skill.desc }}"
          container="body"
        >
          <fa-icon
            [icon]="getIcon(skill.icon)"
            style="color: {{ skill.color }}"
          ></fa-icon>
        </span>
      </span>
    </div>
  </div>
</div>
</ng-template>





<ng-template #smallCard>
  <div class="mx-auto d-block cardBaseSizeSmall_s cardScreenSize_s">
    <div class="d-block cardBaseSizeSmall_s">
      <div class="d-block cardBaseSizeSmall_s">
        <img src="{{ card.image }}" class="cardImage_s" />
        <img src="{{ frameImage[card.rarity] }}" class="cardFrame_s" />
        <p class="cardTitle_s" [ngStyle]="{ color: titleColor }">
          {{ card.name }} [{{ className | translate }}]
        </p>
        <div class="cardPosition_s cardAbrasion_s">
          <span class="badge badge_s rounded-pill" *ngIf="card.abrasion">{{
            card.abrasion
          }}</span>
        </div>
        <span class="cardPosition_s cardCost_s">
          <fa-icon
            *ngFor="let i of [].constructor(card.cost)"
            [icon]="faGem"
          ></fa-icon>
        </span>
        <span class="cardPosition_s cardAttack_s {{ attackColor }} badge badge_s">
          <img src="{{ iconAttack }}" style="height: 16px" /> 
          {{ card.attack }}
        </span>
        <span class="cardPosition_s {{ defenseColor }} badge badge_s cardDefense_s">
          <img src="{{ iconDefense }}" style="height: 16px" /> 
          {{ card.defense }}
        </span>
        <span class="cardPosition_s {{ speedColor }} badge badge_s cardSpeed_s">
          <img src="{{ iconSpeed }}" style="height: 16px" />
          {{ card.speed }}
        </span>
        
      <div class="cardPosition_s cardSpirit_s">
        <span class="badge badge_s {{ spiritColor }}" *ngIf="card.spirit"> 
          <img src="{{ iconSpirit }}" style="height: 16px" />
          {{ card.spirit }}
        </span>
      </div>
        <div class="cardPosition_s cardEnergy_s">
          <span *ngIf="card.energy" class="badge badge_s rounded-pill">
            {{ card.energy }}
          </span>
        </div>
        <span class="cardPosition_s badge badge_s rounded-pill cardHealth_s">
          {{ card.health }}
        </span>
      </div>
      <div class="cardPosition_s cardSkill_s">
        <span class="cardSkillCell_s">
          <span *ngFor="let skill of card.skills" class="cardSkillIcon_s">
            <fa-icon
              [icon]="getIcon(skill.icon)"
              style="color: {{ skill.color }}"
            ></fa-icon>
          </span>
        </span>
      </div>
    </div>
  </div>  
</ng-template>