<app-navbar></app-navbar>

<div class="testimonial-group">
  <div
    class="allCardGridHand"
    *ngFor="let card of allHandCards; index as i"
    role="button"
    (click)="cardWindow(i, 0)"
    [@animateDestroy]="'in'"
  >
    <app-cardDisplaySmall [card]="card" [cardSize]="100"></app-cardDisplaySmall>
  </div>
</div>
<div *ngIf="allCards">
  <div
    class="allCardGrid"
    *ngFor="let card of allCards; index as i"
    role="button"
    (click)="cardWindow(i, 1)"
    [@animateDestroy]
  >
    <app-cardDisplaySmall [card]="card" [cardSize]="100"></app-cardDisplaySmall>
  </div>
</div>
