@media only screen and (max-width: 620px) {
  .cardScreenSize {
    zoom: 60%;
  }
}

.badge {
  padding: 0.15em 0.4em;
  font-size: 1em;
}
.cardBaseSizeSmall {
  width: 210px;
  height: 210px;
}
.cardImage {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 130px;
}
.cardTitle {
  top: 10%;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 10px;
  position: absolute;
  font-weight: bold;
}
.cardFrame {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  position: absolute;
  width: 170px;
}
.cardPosition {
  text-align: center;
  transform: translate(-50%, -50%);
  position: relative;
  --bs-bg-opacity: 1;
  display: inline-block;
  width: 55px;
  min-height: 22px;
  font-size: 1em;
}

.cardDamage {
  top: 12%;
  left: -17%;
  text-align: left;
  font-size: 0.5em;
  color: #3fff6f;
}
.cardCost {
  top: 12%;
  left: 38%;
  text-align: right;
  font-size: 0.5em;
  color: #3fff6f;
}

.cardAbrasion {
  top: 5%;
  left: 80%;
}
.cardAbrasion span {
  background-color: rgb(0, 0, 0);
  font-size: 1.4em;
}
.cardMelee {
  top: 12%;
  left: 15%;
  background-color: brown;
}
.cardRange {
  top: 25%;
  left: -11%;
  min-height: 22px;
  width: 55px;
}
.cardRange span {
  background-color: rgb(139, 34, 139);
  min-height: 22px;
  width: 55px;
}
.cardDefense {
  top: 38%;
  left: -37%;
  background-color: rgb(107, 92, 27);
}
.cardSpeed {
  top: 39%;
  left: 15%;
  background-color: rgb(53, 87, 22);
}
.cardEnergy {
  top: 53%;
  left: 45%;
  min-height: 22px;
  width: 60px;
}
.cardEnergy span {
  background-color: rgb(22, 24, 189);
  font-size: 1.2em;
  min-width: 60px;
}
.cardHealth {
  top: 53%;
  left: -40%;
  background-color: lightcoral;
  font-size: 1.2em;
  min-height: 22px;
  min-width: 60px;
}
.cardSkill {
  top: -55%;
  left: 75%;
  width: 30px;
  height: 115px;
}
.cardSkillCell {
  font-size: 1.2em;
  display: inline-block;
  height: 115px;
  width: 20px;
}
